<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Register</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <!--    Подключение-->
  <meta th:replace="pattern::meta"/>
  <link th:replace="pattern::link"/>
</head>
<body class="text-center">

<form th:action="@{/registration}" method="post" class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
  <div th:if="${message}">
    <p th:text="${message}"/>
  </div>
  <div th:replace="pattern::authorization_block"/>
  <div><label><input type="submit" value="Зарегитрироваться" class="btn btn-lg btn-primary btn-block"/></label></div>
</form>

<!--    Скрипты-->
<div th:replace="pattern::script"/>
</body>
</html>